<html lang="en" xmlns:th="http://www.thymeleaf.org">

<th scope="col" th:fragment="sort_header (header, title)">[[${header}]]
    <a th:href="@{/products(
                        page=${param.page},
                        size=${products.size},
                        sort=${title},
                        direction=${productListParam.getReverse()},
                        titleFilter=${param.titleFilter},
                        minPriceFilter=${param.minPriceFilter},
                        maxPriceFilter=${param.maxPriceFilter})}">
        <i class="fa" th:classappend="${#strings.equals(#request.getParameter('direction'), 'asc')} ? 'fa-sort-down' : 'fa-sort-up'"></i>
    </a>
</th>


</html>