/.idea/
/target/

/lesson1/.idea/
/lesson1/target/

/lesson2/.idea/
/lesson2/target/

/lesson3/target/
/lesson3/.idea/

/lesson4/target/
/lesson4/.idea/

/lesson5/target/
/lesson5/.idea/

/lesson6/target/
/lesson6/.idea/

/lesson7/target/
/lesson7/.idea/

/lesson8/target/
/lesson8/.idea/

/lesson9/target/
/lesson9/.idea/

/lesson10/target/
/lesson10/.idea/

/lesson11/target/
/lesson11/.idea/

/lesson12/target/
/lesson12/.idea/